# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.sls ##}
{% import_yaml 'fabiolb/defaults.yaml' as defaults %}


{## Add any overrides based on CPU architecture. ##}
{% set defaults = salt['grains.filter_by']({
        'armv6l': {
            'fabiolb': {
               "arch": 'arm'
             }
        },
        'armv7l': {
            'fabiolb': {
              "arch": 'arm'
            }
        },
        'x86_64': {
            'fabiolb': {
              "arch": 'amd64'
            }
        }
  }
  , grain="cpuarch"
  , merge=defaults)
%}

{## Merge user configuration from in fabiolb:* pillar ##}
{% set fabiolb = salt['pillar.get']('fabiolb', default=defaults.fabiolb, merge=True) %}
